bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vs/TennisKata/FileContentIndex/47ac4953-3320-4fa9-a994-bb40359f32a6.vsidx
/.vs/TennisKata/FileContentIndex/96b19ad4-308b-4921-b2e4-c25488b194c0.vsidx
/.vs/TennisKata/FileContentIndex/fbe7a4d2-8278-4acb-b40a-bfdcacff2a48.vsidx
/.vs/TennisKata/FileContentIndex/8ecb8b6d-3312-4026-808a-f5a4bccf8c4e.vsidx
